<div class="data-table">
    <table class="data-inner-table" *ngIf="data.length > 0">
        <caption class="data-table-caption">
          {{title}}
        </caption>
        <thead>
          <th *ngFor='let header of headers;let i=index'
              key="header.accessor"
              data-col="header.accessor"
              (click)="onSort($event)"
              (dragstart)="onDragStart($event,i)"
              (dragover)="onDragOver($event)"
              (drop)="onDrop($event,i)">
              <span draggable="true" [attr.data-col]="header.accessor" class="header-cell">
                  {{header.title}}
              </span>
          </th>
        </thead>
        <tbody>
          <tr *ngFor='let row of data'>
            <ng-container *ngFor="let cell of getObjectKeys(row);">
                <td>
                    <div>{{row[cell]}}</div>
                  </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
      <div *ngIf="data.length === 0"> No data available</div>
</div>

