<app-demotable
  [title]="'Property Care Plan'"
  [keyField]="'id'"
  [pagination]='true'
  [pageLength]="10"
  [paginationType]="'long'"
  [width]="'100%'"
  [headers]="model.headers"
  [data]="model.data"
  [noData]="'No records!'">
</app-demotable>
<!-- <app-demotable></app-demotable> -->
<h3>Custom Table</h3>
<app-custom-data-table
    [title]="'User Profiles'"
    [keyField]="'id'"
    [pagination]='true'
    [pageLength]="10"
    [paginationType]="'long'"
    [width]="'100%'"
    [headers]="model.headers"
    [data]="model.data"
    [noData]="'No records!'"
></app-custom-data-table>
